body {
    font-family: sans-serif;
    text-align: center;
}

.small-heading {
    font-weight: 400;
}

.list {
    display: inline-block;
    text-align: center;
    list-style: none;
}

button {
    background-color: rgb(61, 61, 195);
    color: white;
    padding: 5px;

}

img {
    height: auto;
    width: 250px;
}

